{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": "> 0.25%, not dead", // Adjust this target according to your needs
          "useBuiltIns": "entry",
          "corejs": 3
        }
      ]
    ]
  }
  